DB_NAME=tg_tracker
DB_USER=login
DB_PASS=pass


DB_HOST=127.0.0.1
DB_PORT=5432

# FastAPI inside Docker Compose:
# DB_HOST=db
# DB_PORT=5432

DB_ECHO=True

# aiogram.
BOT_TOKEN=telegram_bot_token

# bot -> FastAPI token
BOT_API_TOKEN=

# http://api:8000 inside Docker Compose, http://127.0.0.1:8000 locally.
API_BASE_URL=http://api:8000
