DB_NAME=tg_tracker
DB_USER=login
DB_PASS=pass



DB_HOST=127.0.0.1
DB_PORT=5434



DB_ECHO=True

# aiogram.
BOT_TOKEN=telegram_bot_token

# bot -> FastAPI token
BOT_API_TOKEN=

# Локально: http://127.0.0.1:8001
API_BASE_URL=http://127.0.0.1:8001
