# Virtual environment

.venv/

# Python

**pycache**/
*.py[cod]

# Environment variables

.env

# IDE

.idea/
.vscode/

# Ruff

.ruff_cache/

# Pytest

.pytest_cache/

# OS

.DS_Store
Thumbs.db

# Logs

*.log

# Coverage

.coverage
htmlcov/

# Alembic (если появится позже)

*.pyc

# Docker volumes (если создашь локально)

postgres_data/
